*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* 195*6 = section wrapper */

/* HEADER */

/* MAIN PART */
section {
  position: relative;
}
.section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;

  position: relative;
}

.title-decorate {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: max-content;
  width: 300px;

  margin-top: 26px;
  margin-bottom: 69px;
}
.title-decorate .primary {
  width: 75.54px;
  height: 1px;
  background: #18cfab;
  margin-bottom: 2px;
  margin-right: 20px;
}
.title-decorate .secondary {
  width: 75.54px;
  height: 1px;
  background: #18cfab;
  margin-left: 20px;
}
.section-wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}
/* HEADER */
.logo {
  text-decoration: none;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 2px solid rgba(220, 220, 220, 0);
}
.logo-letter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;

  padding-right: 20px;

  z-index: 2;

  color: #ffffff;
}
.logo-letter::before {
  display: inline-block;
  content: "";
  width: 58px;
  height: 67px;
  position: absolute;
  z-index: -1;
  top: -9px;
  left: -13px;
  background-image: url(../img/favicon.svg);
}
.logo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}
.logo-text span {
  font-weight: 700;
}
.page-header {
  background: rgba(94, 94, 94, 0.6);
  width: 100%;
  z-index: 1000;
}
header .section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  width: max-content;
  margin-right: 21px;
}
.nav-item-box {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.14s;
}
.nav-link {
  padding-top: 48px;
  padding-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  z-index: 2;

  text-transform: uppercase;

  color: rgb(255, 255, 255);

  transition: 0.14s;

  border-bottom: 2px solid rgba(220, 220, 220, 0);
}
.nav-link:hover {
  color: #18cfab;
}
.nav-link:hover {
  border-bottom: 2px solid #18cfab;
}
/* WELCOME PART */
.main {
  background-image: url(../img/Sections-background/section-1\(header\).jpg);
  background-attachment: fixed;
  padding-bottom: 170px;
}
.main-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;

  padding-bottom: 22px;
  padding-top: 264px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.main-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 78px;

  padding-bottom: 22px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.main-slogan {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  text-align: center;

  color: #d4d4d4;
}
.main-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 134px;
  max-width: 362px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  height: min-content;
}
section.blue-one .purchase-button {
  background-color: #00cbf6;
}
section.blue-one .purchase-button:active {
  background-color: #0089a5;
}
/* OPTIONS PART */
.options-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.option {
  width: 25%;
  height: 380px;
  background: #18cfab;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;

  color: #ffffff;
  padding-bottom: 110px;
  padding-top: 106px;
}
.option:nth-child(odd) {
  background: #1c2a33;
  padding-top: 95px;
  color: #18cfab;
}
.option p {
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  position: relative;
}
/* SERVICE SECTION */
.services {
  height: 550px;
  padding-top: 83px;
}
.service-tab-wrapper {
  position: relative;
  width: 16.66%;
  height: 72px;
  display: flex;
  flex-direction: column;
}

.service-nav {
  display: flex;
  width: 100%;
  height: 72px;
  margin-bottom: 28px;
}
.service-tab {
  width: 100%;
  height: 100%;
  background: #f8fcfe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-marker {
  position: absolute;
  content: "";
  /* display: none; */
  transform: rotateZ(45deg);
  bottom: -5px;
  right: 90px;
  width: 10px;
  height: 10px;
  background-color: #18cfab;
}
.service-nav .service-tab button:hover {
  border: 1px solid #18cfab;
}
.service-nav .service-tab button {
  width: 100%;
  height: 100%;
  border: none;
  background: #f8fcfe;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  border: 1px solid #edefef;

  padding: 0;

  transition: border 0.2s;
}

.service-tab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;

  animation: 0.2s;
  display: none;
}
.service-tab-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  text-align: justify;

  height: 100%;

  color: #777777;

  padding-left: 15px;
}

.accent-color {
  color: #18cfab;
}

/* PURCHASE SECTION */
.purchase {
  background-image: url(../img/Sections-background/section-2.jpg);
  height: 476px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.purchase-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;

  padding-top: 126px;
  padding-bottom: 12px;
  color: #18cfab;
}
.purchase-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;

  color: #d8d8d8;
}
.button-wrapper {
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  margin-top: 75px;
}
.button-prettier {
  position: relative;
  width: 168px;
  height: 50px;
  left: 0px;
  top: -13px;
  border-radius: 5px;

  background: #ffffff;
}
.purchase-button {
  position: relative;
  top: -60px;
  width: 168px;
  height: 63px;
  border-radius: 5px;
  border: none;

  padding: 0;

  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;

  text-transform: uppercase;

  color: #ffffff;

  z-index: 1;

  cursor: pointer;

  transition: 0.2s;
}
.purchase-button:active {
  background: #118a71;
  top: -63px;
}
/* OUR AMAZING WORK */
.our-work {
  padding-top: 95px;
  padding-bottom: 15px;
  background-color: #e9edef;
}
.work-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 71px;
}
.our-work-button {
  border: 1px solid #dadada;
  min-width: 60px;
  height: 52px;
  padding-right: 16px;
  padding-left: 16px;

  background-color: #e9edef;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;

  color: #717171;
}
.our-work-button.active {
  border: #18cfab 2px solid;
}
.work-images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}
.images-list-item {
  position: relative;
  display: none;
}
.images-list-item.active {
  display: block;
}
.images-list-item img {
  display: block;
}
.images-list-item-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 211px;

  z-index: 2;
  display: none;

  border-top: 4px solid #18cfab;

  background-color: #e9edef;
}
.imgs-li-icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 46px;
}
.imgs-li-icons-wrapper a {
  display: block;
}
.images-list-item:hover .images-list-item-description {
  display: block;
}
.imgs-li-icon {
  padding: 12px;
  border-radius: 50%;
  border: #18cfab 1.5px solid;
}
.imags-li-shape {
  position: relative;
  display: block;
  width: max-content;
  height: max-content;
  width: 41px;
  height: 41px;
  margin-left: 4px;
}
.imags-li-shape:hover .secondary {
  background-color: #09856c;
}
.imags-li-shape .primary {
  display: block;
  position: absolute;
  top: 13.2px;
  left: 13.2px;
  width: 15px;
  height: 15px;
  background-color: white;
  z-index: 2;
}
.imags-li-shape .secondary {
  display: block;
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: #18cfab;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.imgs-item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  margin-top: 23px;

  color: #18cfab;
}
.imgs-item-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  text-align: center;

  text-transform: capitalize;

  color: #8a8a8a;
}
/* NEWS SECTION */
.news {
  padding-top: 82px;
}
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}
.news-item {
  position: relative;
  display: block;
  background-color: #f8fcfe;

  margin-bottom: 44px;
}
.news-item a {
  text-decoration: none;
}
.news-photo {
  object-fit: cover;
  display: block;
}
.news-date {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: 0.14s;
}
.news-date p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.news-item > a:hover .news-date {
  background-color: #18cfab;
}
.news-item > a:hover .news-title {
  color: #18cfab;
  margin-left: 25px;
}
.news-item > a:hover {
  background-color: #f9f9f9;
}

.news-title {
  display: block;
  width: max-content;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  margin-top: 11px;
  margin-bottom: 11px;
  text-transform: capitalize;

  margin-left: 15px;

  color: #717171;

  transition: 0.14s;
}
.news-description,
.news-comments {
  display: inline-block;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;

  padding-left: 18px;
  margin-bottom: 11px;

  color: #777777;
}
.news-comments {
  padding-left: 0;
}
.news-description::after {
  content: "|";
  display: inline-block;
  margin-right: 7px;
  margin-left: 12px;
}
/* REVIEWS */
.reviews {
  background-image: url(../img/Sections-background/section-3.jpg);
  padding-top: 98px;
  padding-bottom: 105px;
  background-attachment: fixed;
  background-size: cover;
}
.reviews > h2 {
  color: white;
}
.current-slider-item {
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
  overflow: hidden;
}
.reviews-slider {
  display: flex;
  align-items: center;
  width: 400%;

  transition: cubic-bezier(0.88, 0.02, 0.23, 1) 0.5s;
}
.review-text {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;

  color: #bbbbbb;
}
.reviewer-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;

  color: #18cfab;
}
.reviews-item-ico {
  width: 50px;
  height: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}
.reviewer-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;

  color: #bbbbbb;
}
.reviewer-photos-container {
  position: relative;
}
.reviewer-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;

  opacity: 0;

  transition: 0.2s;
}
.reviewer-photo-container.active {
  opacity: 1;
  z-index: 3;
}
.reviewer-photo {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: 2;
  display: block;
}
.reviewer-photo-border {
  width: 100%;
  height: 100%;
  background-color: #18cfaa31;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.slider-nav-container {
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 255px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  border: 1px solid #bbbbbb;

  cursor: pointer;

  transition: 0.2s;
}
.arrow:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.slider-nav {
  display: flex;
  width: 420px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;

  height: 85px;
}
.slider-nav-item {
  width: max-content;
  height: max-content;
  position: relative;
  cursor: pointer;

  transition: 0.1s;
}
.slider-nav-item.selected {
  margin-bottom: 15px;
}
.nav-item-photo-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-photo-container img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: 2;
}
.nav-item-photo-container div {
  width: 100%;
  height: 100%;
  background-color: #18cfaa60;
  border-radius: 50%;
  position: absolute;
}
/* GALLEREYA */
.gallery {
  padding-top: 108px;
}
.gallery-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}
.gallery-item {
  width: 30%;
  position: relative;
  margin-bottom: 35px;
  display: none;
}
.gallery-item.active {
  display: block;
}
.gallery-img {
  display: inline-block;
  width: 100%;
}
.gallery-item.colapsed {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}
.gallery-item.colapsed img {
  width: 114px;
  height: 92px;
  object-fit: cover;
}
.gallery-item.double {
  margin: 0;
}
.gallery-item.double img {
  width: 49.3%;
}
/* LOAD MORE BUTTON */
.load-more-button {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 168px;
  height: 63px;
  background: #18cfab;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;

  color: #ffffff;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  margin-top: 17px;
  margin-bottom: 67px;

  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}
.load-more-button:hover {
  background-color: #118a71;
}
.load-more-button:active {
  background-color: #025030;
}
/* FOOTER */
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22353f;

  height: 121px;
}
.footer-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;

  color: #aeaeae;
}
.scroll-top-top-btn {
  background-color: transparent;
  border: none;
  padding: 0;

  position: fixed;
  bottom: 30px;
  right: 30px;

  cursor: pointer;

  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}
.decorate.button {
  width: 20px;
  height: 20px;
  border-top: solid 5px #118a71;
  border-left: solid 5px #118a71;

  transform: rotateZ(45deg);

  margin-top: 10px;

  transition: 0.2s;
}
.scroll-top-top-btn:hover .decorate.button {
  border-top: solid 5px #ffffff;
  border-left: solid 5px #ffffff;
}
.scroll-top-top-btn:hover {
  background-color: #0b5849;
}
